<section class="about-index">
  <h2>About Us</h2>
  <p>Welcome to the Jungle, your one-stop destination for all things green and growing! We are passionate about plants and believe that they have the power to transform not only your living spaces but also your well-being.</p>

  <h2>Our Story</h2>
  <p>Founded in 2003, Jungle was born out of a deep love for nature and a desire to bring the beauty and serenity of the outdoors into homes and workplaces. Our journey began with a single seed of an idea: to create an online platform that makes it easy for plant enthusiasts of all levels to discover, learn about, and acquire plants of exceptional quality.</p>
</section>



